node-flows.json
[
    {
        "id": "38f3c0c251aa4e46",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d2473b126bb937f",
        "type": "http in",
        "z": "38f3c0c251aa4e46",
        "name": "",
        "url": "/get-teams",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "49602ea945e7c654"
            ]
        ]
    },
    {
        "id": "39dee51c41bb2129",
        "type": "http request",
        "z": "38f3c0c251aa4e46",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openconnectors.trial.us10.ext.hana.ondemand.com/elements/api-v2/spreadsheets/1b3KFgHvv82Dza5LFcbXq93E-WdshmvIzd9LVZLHKVQw/worksheets/GROUP/multiples",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "619937c05d79ab0e",
                "4a11684a53eadbc7"
            ]
        ]
    },
    {
        "id": "51bc64fd55b6e152",
        "type": "function",
        "z": "38f3c0c251aa4e46",
        "name": "",
        "func": "msg.headers = {};\nmsg.topic = msg.topic.toUpperCase();\nmsg.headers['Authorization'] = 'User PaisRIPZv8BdjRGsVmWEadIKerWPmZZTVVOPyqMTiAI=, Organization 20828a049e4eef139dd58d813bf1333e, Element PPmSYu9VgH2Hzef+U+JWADxgXRMbd6SFcuNFDGUDCS4=';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 60,
        "wires": [
            [
                "39dee51c41bb2129"
            ]
        ]
    },
    {
        "id": "4a11684a53eadbc7",
        "type": "debug",
        "z": "38f3c0c251aa4e46",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "95de2f860e0ae0c8",
        "type": "http response",
        "z": "38f3c0c251aa4e46",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "619937c05d79ab0e",
        "type": "function",
        "z": "38f3c0c251aa4e46",
        "name": "",
        "func": "var group = msg.topic;\nvar group_teams = [];\nfor(var i=0;i<msg.payload.values.length;i++){\n    if(msg.payload.values[i][0] === group){\n        group_teams.push({\"team\":msg.payload.values[i][1]});\n    }\n}\nmsg.payload = group_teams;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 120,
        "wires": [
            [
                "95de2f860e0ae0c8",
                "4a11684a53eadbc7"
            ]
        ]
    },
    {
        "id": "49602ea945e7c654",
        "type": "change",
        "z": "38f3c0c251aa4e46",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "req.query.group",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "51bc64fd55b6e152"
            ]
        ]
    }
]